{% extends 'base.html' %}

{% block title %}
<title>Login Page</title>
{% endblock title %}

{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Welcome!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor  %}
<h1 class="text-center">Login Page</h1>
<div class="container mt-3">
<form class="row g-3 mx-5" action="{% url 'login' %}" method="POST">
    {% csrf_token %}

  <div class="col-7">
    <label for="inputAddress" class="form-label">User Name:</label>
    {{form.username}}
    
    {% comment %} <input type="text" class="form-control" id="inputAddress" name="username"> {% endcomment %}
  </div>
  
  <div class="col-md-7">
    <label for="inputCity" class="form-label">Password:</label>
    {% comment %} <input type="password" class="form-control" id="inputCity" name="pass1"> {% endcomment %}
    {{form.password}}
  </div>
  
  
  <div class="col-12">
    <button type="submit" class="btn btn-dark">Sign in</button>
    <input type="hidden" name="next" value={% url 'home'%}>
  </div>
  
</form>
</div>
{% endblock body %}