{% extends 'base.html' %}

{% block title %}
<title>Show Posts</title>
{% endblock title %}

{% block body %}>
{% load static  %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>!!!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor  %}
<div class="container ">
    
  
  
  <div class="row mb-2 my-4">
  {% for blog in posts %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{blog.title}}</h3>
          <h5 class="mb-0">Posted By:{{blog.user_id.username}}</h5>
          <div class="mb-1 text-muted">{{blog.date}}</div>
          <p class="card-text mb-auto">{{blog.dsc | slice:100}}</p>
          <a href="{% url 'blog_detail' blog.id %}" class="stretched-link btn btn-dark">Continue reading</a>
        </div>
      </div>
            
    </div>
    
  {% endfor %} 
  
  </div>
  
  
  
</div>
{% endblock body %}